body {
    background-color: cadetblue;
}
.form-center {
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 15px 0;
}
.form-input {
    padding: 7px;
    border-radius: 5px;
    border: none;
}
.btn {
    margin: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.btn-green {
    color: white;
    background-color: #49ec49;
}
.btn-green:hover {
    background-color: #49bb49;
}
.row-center {
    margin: 15% auto;
    display: block;
    width: 500px;
}
.alert {
    padding: 5px;
    margin-top: 15px;
    text-align: justify;
    transition: 800ms;
    color: white;
}
.alert-danger {
    color: white;
    background-color: indianred;
}
.alert-success {
    color: white;
    background-color: #54d554;
}
.alert-message {
    margin: 0;
}